@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2") format("woff2"),
  url("../font/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2") format("woff2"),
  url("../font/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/opensans.woff2") format("woff2"),
  url("../font/opensans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/opensanslight.woff2") format("woff2"),
  url("../font/opensanslight.woff") format("woff");
  font-weight: 300;
}


/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


/* button*/
.button {
  background-color: transparent;
  border: none;
  position: relative;

  padding: 9px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  text-align: center;
  text-decoration: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 8px;
  width: 100%;
  background-color: #F0C52E;
}

.button__text {
  position: relative;
  z-index: 10;
}

.button:hover::before {
  height: 100%;
}


/* decor-line */
.decor-line {
  position: relative;
}

.decor-line:before {
  content: "";

  position: absolute;
  top: 0;

  width: 80px;
  height: 7px;
  background-color: #000000;
}

.decor-line--color:before {
  background-color: #ffc600;
}

.decor-line--position-bottom:before {
  top: auto;
  bottom: 0;
}


/* site-navigation-link */
.main-navigation-link {
  display: flex;
  align-items: center;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;

  text-transform: uppercase;

  color: #000000;
}

.main-navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-link:hover + .site-navigation-links-list__products-dropdown {
  overflow: visible;
  position: relative;
  clip: auto;

  width: 1040px;
}

.main-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-link--size {
  letter-spacing: 0.1em;
}

.main-navigation-link--icon::after {
  content: "";

  width: 22px;
  height: 22px;
  margin-left: 19px;

  background-image: url(../img/icon_plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.main-navigation-link--color {
  color: #ffffff;
}

.main-navigation-link--color:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-navigation-link--color:active {
  color: rgba(255, 255, 255, 0.3);
}


/* user-menu-item-link*/
.user-navigation-link {
  display: flex;
  align-items: center;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../img/icon_user.svg);
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-link--color {
  color: rgba(255, 255, 255, 0.7);
}

.user-navigation-link--login-icon {
  background-image: url(../img/icon_user.svg);
}

.user-navigation-link--login-orange-icon {
  background-image: url(../img/icon_user--orange.svg);
}

.user-navigation-link--compare-icon {
  background-image: url(../img/icon_chart.svg);
}

.user-navigation-link--compare-orange-icon {
  background-image: url(../img/icon_chart--orange.svg);
}

.user-navigation-link--basket-icon {
  background-image: url(../img/icon_basket.svg);
}

.user-navigation-link--basket-orange-icon {
  background-image: url(../img/icon_cart--orange.svg);
}


/* body */
body {
  margin: 0;
  padding: 0;
}


/* a */
a {
  text-decoration: none;
  color: inherit;
}


/* img */
img {
  max-width: 100%;
  height: auto;
}
