/* page */
.page__page-main-slider {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* button*/
.button {
  background-color: transparent;
  border: none;

  position: relative;

  padding: 9px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  text-align: center;
  text-decoration: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 8px;
  width: 100%;
  background-color: #F0C52E;
}

.button__text {
  position: relative;
  z-index: 10;
}

.button:hover::before {
  height: 100%;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2") format("woff2"),
  url("../font/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2") format("woff2"),
  url("../font/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}


/* page-main-slider */
.page-main-slider {
  position: relative;
}

.page-main-slider__wrapper-slides-list {
  width: 1160px;
  overflow: hidden;
}

.page-main-slider__slides-list {}

.page-main-slider__slider-toggle-list {
  position: absolute;
  right: 88px;
  top: 370px;
}

/* slider-slides-list */
.slider-slides-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  counter-reset: slider-slides-list-item;
  transform: translateX(0px);
  transition: transform 1.3s;
}

.slider-slides-list--first-slide {
  transform: translateX(0px);
}

.slider-slides-list--second-slide {
  transform: translateX(-1160px);
}

.slider-slides-list--third-slide {
  transform: translateX(-2320px);
}


/* slide */
.slide {
  display: flex;

  background-image: linear-gradient(
    to bottom,
    #f7e296 0,
    #f7e296 145px,
    #ffffff 145px,
    #ffffff 100%
  );
}

.slide__image-container {
  width: 560px;
  margin-right: 40px;
}

.slide__column {
  padding-right: 60px;
  width: 500px;
}


/* slide-column-lead */
.slide-column-lead {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  color: #000000;
}


/* slide-column-description*/
.slide-column-description {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}


/* slide-column */
.slide-column {
  display: flex;
  flex-direction: column;

  position: relative;

  padding-top: 109px;
}

.slide-column:before {
  content: "";
  position: absolute;
  top: 38px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slide-column:after {
  counter-increment: slider-slides-list-item;

  content: "0" counter(slider-slides-list-item);
  position: absolute;
  top: 42px;
  right: 50px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 129px;
  text-transform: uppercase;

  color: #ffffff;
}

.slide-column__lead {
  z-index: 10;
  margin-bottom: 30px;
}

.slide-column__description {
  margin-bottom: 60px;
}

.slide-column__button {
  margin-bottom: 60px;
  align-self: flex-start;

  min-width: 220px;
  max-width: 300px;
}

.slide-column__description-table {
  align-self: flex-start;
}


/* slide-description-table */
.slide-description-table {
  display: flex;
  flex-direction: column;
}

.slide-description-table__headers {}

.slide-description-table__headers-row {}

.slide-description-table__body {
  order: -1;
  margin-bottom: 15px;
}


/* first-slide-description-table-row */
.first-slide-description-table-column-headers {
  display: flex;
}

.first-slide-description-table-column-headers__item {
  margin-right: 67px;
}

.first-slide-description-table-column-headers__item:last-of-type {
  margin-right: 0;
}


/* slide-description-table-column-headers-item */
.slide-description-table-column-headers-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;

  color: #000000;
}


/* first-slide-description-table-row */
.first-slide-description-table-row {
  display: flex;
}

.first-slide-description-table-row__cell {
  margin-right: 65px;
}

.first-slide-description-table-row__cell:last-of-type {
  margin-right: 0;
}


/* slide-description-table-row-cell */
.slide-description-table-row-cell {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.1em;

  color: #000000;
}


/* slide-image-container */
.slide-image-container {
  position: relative;
}

.slide-image-container__image {
  position: absolute;
  top: 18px;
  left: 89px;

  width: 384px;
  height: 486px;
}


/* second-slide-image-container */
.second-slide-image-container {
  position: relative;
}

.second-slide-image-container__image {
  position: absolute;
  top: 43px;
  left: 116px;

  width: 345px;
  height: 483px;
}


/* third-slide-image-container */
.third-slide-image-container {
  position: relative;
}

.third-slide-image-container__image {
  position: absolute;
  top: 99px;
  left: 30px;

  width: 526px;
  height: 334px;
}


/* third-slide-description-table-column-headers */
.third-slide-description-table-column-headers {
  display: flex;
}

.third-slide-description-table-column-headers__item {
  margin-right: 27px;
}

.third-slide-description-table-column-headers__item:last-of-type {
  margin-right: 0;
}


/* third-slide-description-table-row */
.third-slide-description-table-row {
  display: flex;
}

.third-slide-description-table-row__cell {
  margin-right: 46px;
}

.third-slide-description-table-row__cell:last-of-type {
  margin-right: 0;
}


/* slider-toggle-list */
.slider-toggle-list {
  margin: -9px;
  display: flex;
}


/* slider-toggle */
.slider-toggle {
  display: flex;
}

.slider-toggle__input-item:checked + .slider-toggle__toggle-item {
  background-image: url(../img/slider-toggle__toggle-item--on.svg);
}

.slider-toggle__toggle-item {
  width: 12px;
  height: 12px;
  padding: 9px;

  background-image: url(../img/slider-toggle__toggle-item--off.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
