@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2") format("woff2"),
  url("../font/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroyextrabold.woff2") format("woff2"),
  url("../font/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}


/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


/* device-logo */
.device-logo {
  display: flex;
  width: 163px;
  height: 35px;
}

.device-logo:hover {
  opacity: 0.6;
}

.device-logo:active {
  opacity: 0.3;
}

.device-logo__image {
  flex-grow: 1;
}


/* user-navigation */
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.user-navigation__login {
  margin-right: auto;
}

.user-navigation__compare {
  margin-right: 41px;
}

.user-navigation__basket {}

.user-navigation__link {
  min-height: 50px;
}


/* user-menu-item-link*/
.user-navigation-link {
  display: flex;
  align-items: center;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-link--login-icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../img/icon_user.svg);
}

.user-navigation-link--compare-icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../img/icon_chart.svg);
}

.user-navigation-link--basket-icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../img/icon_basket.svg);
}


/* site-navigation-link */
.site-navigation-link {
  display: flex;
  align-items: center;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;

  text-transform: uppercase;

  color: #000000;
}

.site-navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-link:hover + .site-navigation__products-dropdown {
  overflow: visible;
  position: relative;
  clip: auto;

  width: 1040px;
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link--size {
  letter-spacing: 0.1em;
}

.site-navigation-link--icon::after {
  content: "";

  width: 22px;
  height: 22px;
  margin-left: 19px;

  background-image: url(../img/icon_plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}


/* products-dropdown-menu-list-item-link */
.products-dropdown-menu-list-item-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px
}

.products-dropdown-menu-list-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.products-dropdown-menu-list-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}


/* products-dropdown-menu-list */
.products-dropdown-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
}

.products-dropdown-menu-list__item {
  margin-bottom: 20px;
}

.products-dropdown-menu-list__item:last-of-type {
  margin-bottom: 0;
}


/* site-navigation-dropdown */
.site-navigation-dropdown {}

.site-navigation-dropdown__content {
  position: absolute;
  left: -60px;
  width: 1160px;

  padding: 12px 60px 46px 60px;
  box-sizing: border-box;

  background-color: #f7e296;
}


/* products-dropdown-menu */
.products-dropdown-menu {
  display: flex;
  flex-wrap: wrap;
}

.products-dropdown-menu__column {
  margin-right: 61px;
}

.products-dropdown-menu__column:last-of-type {
  margin-right: 0;
}


/* site-navigation */
.site-navigation {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to bottom,
    #ffffff 0,
    #ffffff 40px,
    #f7e296 40px,
    #f7e296 100%
  );
}

.site-navigation__user-navigation {
	width: 500px;
}

.site-navigation-row-column__products {
  margin-right: auto;
}

.site-navigation__delivery {
  margin-right: 38px;
}

.site-navigation__guarantee {
  margin-right: auto;
}

.site-navigation-row-column__link {
  padding-top: 18px;
  padding-bottom: 18px;
}


/* site-navigation-row-column */
.site-navigation-row-column {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-row-column--alignment {
  align-self: flex-end;
}

.site-navigation-row-column__logo {
  width: 100%;
  margin-top: 29px;
}

.site-navigation-row-column__search {
  width: 440px;
  margin-top: 14px;
  margin-right: auto;
}

.site-navigation__products-dropdown {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.site-navigation__products-dropdown:hover {
  position: relative;
  overflow: visible;
  clip: auto;

  width: 1040px;
}


/* site-navigation-row */
.site-navigation-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-navigation-row--alignment {
  align-items: flex-start;
}

.site-navigation__row {
  margin-bottom: 25px;
}

.site-navigation__row--size {

}

.site-navigation-row__column {
  width: 500px;
}


/* search-input */
.search-input {
  padding: 0 22px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
  box-shadow: inset 0 -2px 0 0 #000000;
  background-image: url(../img/search-input__search-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  outline: none;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder {
  color: #000000;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}


/* search-form */
.search-form {}

.search-form__content {
  display: flex;
  position: relative;
}

.search-form__input {
  min-height: 50px;
  width: 100%;
  box-shadow: inset 0 -2px 0 0 transparent;
}

.search-form__input:focus {
  box-shadow: inset 0 -2px 0 0 #000000;
}

.search-form__input:focus + .search-form__button {
  position: static;
  clip: auto;
}

.search-form__button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.search-form__button:focus {
  position: static;
  clip: auto;
}

.search-form__button:focus:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  height: 2px;
  width: 100%;
  background-color: #000000;
}


/* search-button */
.search-button {
  padding: 15px 17px;
  border: none;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  color: #000000;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}


/* body */
body {
  margin: 0;
  padding: 0;
}


/* a */
a {
  text-decoration: none;
  color: inherit;
}


/* img */
img {
  max-width: 100%;
  height: auto;
}


/* header */
.header {
  display: flex;
  flex-direction: column;

  padding-left: 30px;
  padding-right: 30px;
}

.header__site-navigation {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  box-sizing: border-box;
}


